#tt2{ color: #6cb840;}  
.t{ 
    margin-top: 0px;text-align: center;display: flex; margin-left: 500px; gap: 20px;
} 
.column{ 
    float: left; 
    width: 33.3%;
} 
img{ 
    height: 100px;height: 100px;
}
p{ 
    margin-top: 0px; 
    margin-bottom: 0px;
} 
body{ background-color: #c9ecb5;}